<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{category}} > Items</ion-title>
    <ion-buttons slot="start">
        <ion-back-button>

        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-input [(ngModel)]="order.CustomerName" placeholder="Name"></ion-input>
  <ion-input [(ngModel)]="order.PhoneNumber" placeholder="PhoneNumber"></ion-input>
  <ion-textarea [(ngModel)]="order.Address" placeholder="Delivery Address">

  </ion-textarea>
  <ion-input [(ngModel)]="order.Landmark" placeholder="Landmark"></ion-input>

<ion-grid *ngIf="($items |async ) as items">
 
  <ion-row *ngFor="let o of order.Items;let i=index">
    <ion-col size="12">
      <ion-label>{{i+1}}) Product</ion-label>
        <ionic-selectable
        placeholder="Select Product"
        item-content 
        [(ngModel)]="o.p"
        [items]="items"  
        itemTextField="name"
        [canSearch]="true"
        (onChange)="valuedItem(o,o.p)">
        </ionic-selectable>
     
    </ion-col>
    <ion-col size="6">
      Quantity
    <div *ngIf="o.p">
      <ion-input [(ngModel)]="o.quantity"  [min]="o.p.minQuantity" [max]="o.p.maxQuantity" type="number" step="0.25" (ionBlur)="validate(o,o.p)"></ion-input> 
    </div>
    </ion-col>
    <ion-col size="4">
      Unit
      <div *ngIf="o.p">
       {{o.p.unit}}
    </div>
    </ion-col>
    <ion-col size="2">
     
      <ion-button (click)="remove(i)">
        <ion-icon   slot="icon-only" name="trash" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button (click)="add()">Add Item</ion-button>
  </ion-row>
  <ion-row>
    <ion-button (click)="Order()">Place Order</ion-button>
  </ion-row>
</ion-grid>

</ion-content>
