<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Support</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-no-margin" style="border-radius: 0px;"> 
    <ion-card-header class="align-items-center ion-dark ion-no-margin" color="dark">
      <ion-row ion-no-margin>
        <ion-col class="">

        </ion-col>
        <ion-col>
              <ion-avatar>
                
                <img  src="assets/icon/favicon.png"  >
              </ion-avatar>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row ion-no-margin>
        <ion-col class="">

        </ion-col>
        <ion-col text-center>
              <h2 color="light">Rekla</h2>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="padding:20px ;">
      <ion-list>
        <ion-item>  
          <!-- <ion-icon name="person"></ion-icon> -->
          Kumar Animesh
        </ion-item>
        <ion-item>  
          <ion-icon name="pin" slot="start"></ion-icon>
          Hazaribagh
        </ion-item>
        <ion-item href="tel:+917903059811">  
          <ion-icon name="call" slot="start"></ion-icon>
          +91 79030 59811
        </ion-item>
        <ion-item>  
          <ion-icon name="mail" slot="start"></ion-icon>
          kumar@rekla.in
        </ion-item>
        <hr>
        <ion-item>  
          <!-- <ion-icon name="person" ></ion-icon> -->
          Kunal Hansh
        </ion-item>
        <ion-item>  
          <ion-icon name="pin" slot="start"></ion-icon>
          Ranchi
        </ion-item>
        <ion-item href="tel:+919643253697">  
          <ion-icon name="call" slot="start"></ion-icon>
          +91 96432 53697
        </ion-item>
        <ion-item>  
          <ion-icon name="mail" slot="start"></ion-icon>
          kunal@rekla.in
        </ion-item>
        <hr>
        <ion-item>  
          <!-- <ion-icon name="person"></ion-icon> -->
          Ravi Kumar
        </ion-item>
        <ion-item>  
          <ion-icon name="pin" slot="start"></ion-icon>
          Varanasi
        </ion-item>
        <ion-item href="tel:+919650400295">  
          <ion-icon name="call" slot="start"></ion-icon>
          +91 96504 00295
        </ion-item>
        <ion-item>  
          <ion-icon name="mail" slot="start"></ion-icon>
          ravi@rekla.in
        </ion-item>
      </ion-list>
     
<br>
<br>
<br><br>
    </ion-card-content>

  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button  color="warning">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="warning">
        <ion-icon name="logo-facebook" (click)="shareFB()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareTW()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareWP()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareIS()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
