<ion-header>
  <ion-toolbar color="primary">
    <ion-title >Manage Profile</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

    <ion-content class="content">

    <ion-card *ngIf="Data" class="ion-no-margin"  style="border-radius: 0px;">
        <ion-card-header class="align-items-center ion-dark ion-no-margin" color="dark">
            <ion-row ion-no-margin>
              <ion-col class="">
    
              </ion-col>
              <ion-col>
                    <ion-avatar >
                      <img *ngIf="Data.Image" [src]="Data.Image" (click)="changeImage()" >
                      <img *ngIf="!Data.Image" src="assets/avtar.png" (click)="changeImage()" >
                    </ion-avatar>
              </ion-col>
              <ion-col>
    
              </ion-col>
            </ion-row>
             
          </ion-card-header>
    <ion-card-content class=" sc-ion-card-md-h sc-ion-card-md-s md hydrated ion-no-margin align-items-center" >
      
       
      <form [formGroup]="formProfile" (ngSubmit)="onSubmit()">
      <ion-card-title text-center style="padding:5%;">
        <span class="bold">Update Profile</span>
      </ion-card-title>
      <ion-item>
        <ion-input type="text" placeholder="Your Name" formControlName="Name"  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"  ></ion-input>
        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">Name is required</div>
          </div>
      </ion-item>
      <ion-item>
        <ion-input type="number" maxlength="10" placeholder="Mobile Number" formControlName="MobileNo"  [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }"  ></ion-input>
        
        <div *ngIf="submitted && f.MobileNo.errors" class="invalid-feedback">
          <div *ngIf="f.MobileNo.errors.required">MobileNo is required</div>
          <div *ngIf="f.MobileNo.errors.pattern">Invalid Mobile Number</div>
        </div>
       
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Email" formControlName="EmailId"  [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }"  ></ion-input>
      <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
          
          <div *ngIf="f.EmailId.errors.pattern">Invalid Email</div>
        </div>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Address" formControlName="Address"  [ngClass]="{ 'is-invalid': submitted && f.Address.errors }"  ></ion-input>
      <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
          
          <div *ngIf="f.Address.errors.pattern">Invalid Email</div>
        </div>
    </ion-item>
      
      <ion-button size="large" class="orange-black-button" style="font-weight: bold;font-size: large;" color="warning" ion-button expand="full" (click)="onSubmit()">Update</ion-button>
      </form>
      
    </ion-card-content>
  </ion-card>
  <ng-lottie *ngIf="!Data"
  width="100%"
  height="25%"
  containerClass="moving-box"
  [options]="options" 
></ng-lottie>
    
      
      <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
        <ion-fab-button  color="warning">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button color="warning">
            <ion-icon name="logo-facebook" (click)="shareFB()"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="warning" (click)="shareTW()">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="warning" (click)="shareWP()">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="warning" (click)="shareIS()">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

      </ion-content>

