<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Rekla</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin" style="border-radius: 0px;"> 
      <ion-card-header class="align-items-center ion-dark ion-no-margin" color="dark">
        <ion-row ion-no-margin>
          <ion-col class="">

          </ion-col>
          <ion-col>
                <ion-avatar>
                  
                  <img  src="assets/icon/favicon.png"  >
                </ion-avatar>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row ion-no-margin>
          <ion-col class="">

          </ion-col>
          <ion-col text-center>
                <h2 color="light">Rekla</h2>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content style="padding:20px ;">
        <p>
            Welcome to the world where convenience and quality is at utmost priority. We provide services, and manpower in various fields and our complete focus is on how to deliver quality Service within the time committed. We are set of three people from different background trying to create an environment of ease.
        </p>
        <p>
            We heard many people say that it is impossible to find a plumber / electrician / carpenter who is reliable and can do a quality job.
            Our job is to ensure that the user get ease in finding service provider who are verified professional and get the job done in committed time frame.
        </p>
        <p>
            We are a group of 3 people who are constantly working towards the goal to provide hassle free platform for the user and service provider
            by bringing them on the same platform and creating an environment of ease among them.
        </p>
        <br>
        <br>
        <br><br>
      </ion-card-content>

    </ion-card>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
      <ion-fab-button  color="warning">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="warning">
          <ion-icon name="logo-facebook" (click)="shareFB()"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="shareTW()">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="shareWP()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" (click)="shareIS()">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
