<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Category</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

<ion-grid *ngIf="($services | async) as Categories"  >
  <ion-row class="ion-text-center" style="text-align: center; ;
  padding:10px">
  <h4>Select Category</h4>
  </ion-row>
<ion-row *ngFor="let item of Categories" class="ion-text-center" style="text-align: center; background-color: royalblue; color:#fff; margin-bottom:10px;
padding:10px; border-radius:10px">
  <ion-col></ion-col>
  <ion-col>
    <h3 style="width: 100%;">{{item.category}} </h3>
 
  <ion-button [routerLink]="['/','category',item.category]"> Select</ion-button>
  </ion-col>
  <ion-col></ion-col>
  
</ion-row>
<ion-row class="ion-text-center" style="text-align: center; background-color: royalblue; color:#fff; margin-bottom:10px;
padding:10px; border-radius:10px">
  <ion-col></ion-col>
  <ion-col>
    <h3 style="width: 100%;">Medicine </h3>
 
  <ion-button [routerLink]="['/','category','Medical','page']"> Select</ion-button>
  </ion-col>
  <ion-col></ion-col>
  
</ion-row>
</ion-grid>


<h4>Terms and Condition</h4>
<!-- <p>
  Welcome to Rekla Bazaar.
</p><p>
  We delivers items in many categories eg; Grocery, Kirana, Vegetables, Medicine.
</p><p>
  Right now we all are facing critical situation and scarcity of goods due to COVID-19. We all have to be safe and stay at home to defeat COVID-19. We have launched rekla bazaar in Hazaribag only to serve our Hometown.
</p><p> 
  We have restricted quantity of all items to a certain limit as of now we can't do or promote panic shopping and stocking. As a citizen of India we all must accept this and follow it.
</p><p>
  Its a request to all of you to do online payment against your order to avoid cash dealing and to avoid transmission of virus.
</p><p>
  Kindly play your part to protect our nation from COVID-19 by receiving your order outside your house, don't make any contact with delivery boy, cooperate with our delivery boy in navigating them to your address.
</p><p> 
  Our Helpline number: 7903059811 (only for queries and issues).
</p><p> 
  Share with your family and friend and make them safe from COVID-19.
</p> -->

<h3>Delivery Charges:</h3>
<ul>
  <li>Delivery charge on Items from 1 Category		INR 50.</li>
  <li>Delivery charge on Items from 2 different Category	INR 100.</li>
  <li>Delivery charge on Items from 3 different Category	INR 150.</li>
  <li>Delivery charge on Items from 4 different Category	INR 200.</li>
</ul>



<h4>Minimum Order Value:</h4>
<ul>
  <li>Our customer have to book an order having minimum value of INR 300 to get it accept by us.</li>
</ul>
<h4>Booking:</h4>

<ul>
  <li>For Booking an Order download REKLA App from Google Play store.</li>
  <li>Login with your mobile number and enter the OTP to verify your mobile number.</li>
  <li>Select “Rekla Bazaar” option to book your order.</li>
  <li>Read the Terms and select from any of the mentioned category: Grocery, Vegetable, Medicine, Fruits.</li>
  <li>You can order from multiple categories also.</li>
  <li>Delivery charge is INR 50/category.</li>
</ul>
<h4>Helpline:</h4>
<p>For any problem and issue dial:</p>
<p>Helpline number: 7903059811</p>
<p>Helpline number: 9643253697</p>
<p>“No booking will be done on this number, dial for help not for booking”.</p>
<p>“Share REKLA App and stay at home”.</p>
<p>#stayhomestaysafe     #IndiaFightsCorona    #COVID-19</p>
<p>We are working with the support of Hazaribagh District Authority</p>


</ion-content>
