<ion-split-pane color="dark-bg" class="dark-bg">
  <ion-menu color="dark">
    <ion-header>
      <ion-toolbar color="dark">
      <ion-list class="dark-bg">
        <ion-menu-toggle>
          <ion-item color="dark">
            <ion-avatar slot="start">
              <img src="assets/avtar.png" alt="" />
            </ion-avatar>
            <ion-label>
              <h5 ion-text color="light">Welcome {{name}}</h5>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      </ion-toolbar>
    </ion-header>
    <ion-content class="dark-bg">
      <ion-list class="dark-bg">
        <ion-item color="dark"  (click)="OpenLink(['/','home'])" routerLinkActive="router-link-active" >
          <ion-icon name="home" slot="start"></ion-icon>
          <h5 ion-text color="light">Home</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','profile'])">
          <ion-icon name="person" slot="start"></ion-icon>
          <h5 ion-text color="light">Profile</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','list'])">
          <ion-icon name="list-box" slot="start"></ion-icon>
          <h5 ion-text color="light">Booked Service</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','about-us'])">
          <ion-icon name="help" slot="start"></ion-icon>
          <h5 ion-text color="light">About Rekla</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','privacy'])">
          <ion-icon name="warning" slot="start"></ion-icon>
          <h5 ion-text color="light">Privacy</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','support'])">
          <ion-icon name="help-buoy" slot="start"></ion-icon>
          <h5 ion-text color="light">Support</h5>
        </ion-item>
        <ion-item color="dark" (click)="OpenLink(['/','login'])">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <h5 ion-text color="light">Logout</h5>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>
