<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Service History</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card *ngFor="let item of items" class="white">
        <ion-card-header class="header">
          {{item.Service.Name}}
          <br>
          {{item.Area}},{{item.Address}}
          
        </ion-card-header>
        <ion-card-content>
          <p>{{item.Date | date:'dd-MMM-yyyy'}}</p>
        </ion-card-content>
        <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" (click)="details(item)" >Details</ion-button>
        </ion-buttons>
      </ion-toolbar>
      </ion-card>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
