<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Done</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ng-lottie
  width="100%"
  height="25%"
  containerClass="moving-box"
  [options]="options" 
></ng-lottie>
<ion-card class="white">
  <ion-card-header>
      Thank you
  </ion-card-header>
  <ion-card-content>
      <p>Your service request has been registered with us.</p>
      <p>Our service partner will contact you within 30 min.</p>
      <ion-button expand="full" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</ion-button>
  </ion-card-content>
</ion-card>

</ion-content>
