.content{
    
    --background: rgb(132,0,143);
    --background: linear-gradient(190deg, rgba(132,0,143,1) 0%, rgba(217,78,245,1) 35%, rgba(158,0,255,1) 100%);
       
    }

    .white{
       
        --background:#fff;
    }