
    // .img{
    //     border-radius: 100px;
    //     position: absolute;
    //     left: 27%;
    //     height: 25%;
    //     max-width: 100%;
    //     border: 0;
    //     /* width: 100%; */
    //     top: 4%;
    // }
    
    // .text-center{
    //     text-align: center;
    // }
    ion-avatar { 
        width: 100%;  
        height: 100%;
        text-align: center; 
        border-radius:0px ; 
    }
    
    img {
     border-radius: 0px;
    }