<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rekla </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="content">


  <!-- <img src="../../assets/icon/favicon.png" class="img" /> -->

<ion-card class="white ion-no-margin" style="border-radius: 0px;">
  <ion-card-header class="align-items-center ion-dark ion-no-margin" color="dark">
    <ion-row ion-no-margin>
      <ion-col class="">

      </ion-col>
      <ion-col>
            <ion-avatar>
              
              <img  src="assets/icon/favicon.png"  >
            </ion-avatar>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row ion-no-margin>
      <ion-col class="">
      </ion-col>
      <ion-col text-center>
            <h4 color="light" >Verify OTP</h4>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <!-- <ion-card-header class="text-center">
      <ion-card-title class="text-center bold">
          Verify OTP
        </ion-card-title> 
  </ion-card-header> -->
 
  <ion-card-content style="margin-bottom: 20px;">
    <br>
    <br>
    <br>
    <form [formGroup]="otpForm">
      <ion-item>
          <ion-input type="text"  placeholder="OTP" formControlName="OTP"
          [ngClass]="{ 'is-invalid': submitted && f.OTP.errors }" ></ion-input>
          <div *ngIf="submitted && f.OTP.errors" class="invalid-feedback">
              <div *ngIf="f.OTP.errors.required">OTP is required</div>
          </div>
      </ion-item>
      <br>
      <br>

       <section class="ion-text-center">
        <ion-button color="warning" size="large" class="padding" (click)="verifyOtp()">Verify OTP</ion-button>
        <ion-button color="primary" size="large" class="padding" (click)="resendOtp()">Resend OTP</ion-button>
        <!-- <ion-button color="danger" [routerLink]="['/','login']">Cancel</ion-button> -->

       </section>
       
    </form>
  </ion-card-content>
  
</ion-card>


</ion-content>
