<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Privacy Rekla</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-no-margin" style="border-radius: 0px;"> 
    <ion-card-header class="align-items-center ion-dark ion-no-margin" color="dark">
      <ion-row ion-no-margin>
        <ion-col class="">

        </ion-col>
        <ion-col>
              <ion-avatar>
                
                <img  src="assets/icon/favicon.png"  >
              </ion-avatar>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row ion-no-margin>
        <ion-col class="">

        </ion-col>
        <ion-col text-center>
              <h2 color="light">Rekla</h2>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="padding:20px ;">
     
        <p>
            We view protection of your privacy as a very important principle. We understand clearly that you and your personal information is one of our most important assets. Please review how we use and store your personal information here..
        </p>

        <p style="font-weight:bold;font-size:22px">
            Disclaimer of Warranties and Liability :
        </p>

        <p>All the material and products on our Website (including but not limited to software) and services, included on or otherwise made available to you through our Website and are provided on "as is" and "as available" basis without any representation or warranties, express or implied except otherwise specified in writing. Without prejudice to the forgoing paragraph, Rekla does not warrant that:This Website will be constantly available, or available at all; or The information on this Website is complete, true, accurate or non-misleading; That the Services will meet the customer’s requirements. Rekla will not be liable to you in any way or in relation to the Contents of, or use of, or otherwise in connection with its Website and Rekla does not warrant that this Website or the; information, Content, materials, product or services included on or otherwise made available to you through its Website and; the servers; or electronic communication sent from us are free of viruses or other harmful components. Rekla shall not be liable for any conduct or behaviour or actions of service providers. However, Rekla encourages you to notify us of any complaints that you may have against the service provider who has provided You with services on behalf of Rekla. You agree and acknowledge that the use of the Services offered by Rekla is at Your sole risk and that Rekla disclaims all representations and warranties of any kind, whether express or implied as to condition, suitability, quality, merchantability and fitness for any purposes are excluded to the fullest extent permitted by law. Rekla will not be liable for any damages of any kind arising from the use of the Service offered by the Company, including, but not limited to direct, indirect, incidental, punitive, and consequential damages. SUBJECT TO APPLICABLE LAWS, IN NO EVENT WILL Rekla OR ITS AFFILIATES' AGGREGATE LIABILITY ARISING FROM OR RELATED TO THE SERVICES EXCEED THE PAYMENTS ACTUALLY RECEIVED AND RETAINED BY Rekla FROM YOU FOR THE PAID SERVICES LIABILITY FOR ANY AND ALL CAUSES OF ACTION BROUGHT BY YOU OR YOUR AGENTS.</p>
        <p style="font-weight:bold;font-size:22px">Indemnity :</p>
        <p>You agree to defend, indemnify and hold harmless Rekla, its subsidiaries, affiliates, subcontractors, officers, directors, employees, consultants, representatives and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorneys’ fees and costs) arising from:your use of and access to our Platforms;your violation of any term of this Agreement;your violation of any third party right, including without limitation any copyright, property, or privacy right.</p>
        <p>With whom your Personal Information is shared?</p>
        <p>When you order services through us, we must provide certain of your Personal Information to the third party or vendors to enable the successful fulfilment of your service.</p>
        <p>However, we do not sell or rent individual customer names or other Personal Information to third parties except sharing of such information with our vendors and our promoters.</p>
        <p>We use non - personally identifiable information in aggregate form to build higher quality, more useful online services by performing statistical analysis of the collective characteristics and behaviour of our customers and visitors, and by measuring demographics and interests regarding specific areas of the website, mobile site and mobile app. We may provide anonymous statistical information based on this data to suppliers, advertisers, affiliates and other current and potential Business partners. We may also use such aggregate data to inform these third parties as to the number of people who have seen and clicked on links to their websites.</p>

        <br>
        <br>
        <br><br>

    </ion-card-content>

  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button  color="warning">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="warning">
        <ion-icon name="logo-facebook" (click)="shareFB()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareTW()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareWP()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="shareIS()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
