
    .img{
        border-radius: 100px;
        position: absolute;
        left: 27%;
        height: 25%;
        max-width: 100%;
        border: 0;
        /* width: 100%; */
        top: 4%;
    }
    
    .text-center{
        text-align: center;
    }