<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Questions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-card *ngIf="Splash" class="white">
    <ion-card-header *ngIf="city && service">
      {{city.Name}} - {{service.Name}}
    </ion-card-header>
    <ion-card-content  *ngIf="city && service">
      <h4>To be specific about your need, we would like you to answer few questions. </h4>
      <p [innerHTML]="service.Description"></p>
      <ion-button ion-button full  (click)="Start()">Accept &amp; Start</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="AnswerQuestion" class="white">
    <ion-card-header>
      Q). {{selctedQuestion.Query}}
    </ion-card-header>
    <ion-card-content>
      <div [ngSwitch]="selctedQuestion.Type">
        <ion-list radio-group *ngSwitchCase="'Radio'">
          <ion-list-header>

          </ion-list-header>
          <ion-item *ngFor="let opt of selctedQuestion.Option">
            <ion-label>{{opt.Text}}</ion-label>
            <ion-radio  [value]="opt.Text" class="form-check-input" [checked]="isChecked(opt.Text)"
            (click)="answerRadio(opt.Text)" ></ion-radio>
          </ion-item>

        </ion-list>


        <ion-list radio-group *ngSwitchCase="'Checkbox'">
          <ion-list-header>

          </ion-list-header>
          <ion-item *ngFor="let opt of selctedQuestion.Option">
            <ion-label>{{opt.Text}}</ion-label>
            <ion-checkbox   [checked]="isChecked(opt.Text)"
            (click)="answerCheckBox(opt.Text)" ></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'TextMultiple'">
        <ion-item *ngFor="let opt of selctedQuestion.Option;let i =index">
          <ion-label position="floating">{{opt.Text}}</ion-label>
          <ion-input type="text" (keyup)="TextChange($event,i,opt.Text)"></ion-input>
        </ion-item>
      </ion-list>
        <ion-item  *ngSwitchCase="'Text'">
          <ion-label position="floating" >Please Type your answer....</ion-label>
          <ion-input type="text" [(ngModel)]="answers[answersIndex].Answer[0]"></ion-input>
        </ion-item>

      </div>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-button ion-button full (click)="Previous()" [disabled]="Index===0">Previous</ion-button>
          </ion-col>
          <ion-col >
            <ion-button ion-button full (click)="Next()">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>




    </ion-card-content>
  </ion-card>
<ion-card *ngIf="Details" class="white">
  <ion-card-header>
    Please Fill in your Details
  </ion-card-header>
  <ion-card-content>
      <!-- <button ion-button full (click)="back()" >Back to questions</button> -->
      <form [formGroup]="userForm" >
        <ion-item>
          <ion-label position="floating" >Your Name</ion-label>
          <ion-input type="text" formControlName="Name" required [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"></ion-input>
          <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
            <div *ngIf="f.Name.errors.required">Name is required</div>
            <div *ngIf="f.Name.errors.pattern">Name  is Invalid</div>
        </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Phone Number</ion-label>
          <ion-input type="text" formControlName="ContactNo" required 
          [ngClass]="{ 'is-invalid': submitted && f.ContactNo.errors }"></ion-input>
          <div *ngIf="submitted && f.ContactNo.errors" class="invalid-feedback">
            <div *ngIf="f.ContactNo.errors.required">Contact No is required</div>
            <div *ngIf="f.ContactNo.errors.pattern">Contact No is Invalid</div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Area</ion-label>
          <ion-select  formControlName="Area">
            <ion-select-option *ngFor="let i of Area" [value]="i.Name">{{i.Name}}</ion-select-option>

          </ion-select>
        </ion-item>



          <ion-item>
            <ion-label position="floating" >Email</ion-label>
            <ion-input  formControlName="Email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">On Date</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY" formControlName="OnDate" [min]="minDate" [max]="maxDate"  required ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Time</ion-label>
            <ion-select  formControlName="OnTime">
              <ion-select-option *ngFor="let time of Timings" [value]="time">{{time}}</ion-select-option>

            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating" >Address</ion-label>
            <ion-input type="text" required formControlName="Address"></ion-input>
          </ion-item>

        </form>
        <ion-button ion-button full (click)="MakeRequest()" [disabled]="userForm.pristine">Book</ion-button>
        <ion-button ion-button full (click)="back()" >Back to questions</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
