/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.content-fullscreen-message {
  text-align: center;
  padding: 30% 15%;
  font-size: 26px;
  font-weight: 300;
  opacity: 0.2;
}
  
  //// Background colors
.dark-bg {
background-color: #1c1c1d;
.scroll {
  background-color: #1c1c1d;
}
}
  

.content{

// --background: rgb(132,0,143);
// --background: linear-gradient(190deg, rgba(132,0,143,1) 0%, rgba(217,78,245,1) 35%, rgba(158,0,255,1) 100%);
    
}
  
.white{
    
  --background:#fff;
  //color:#fff;
}

.black-orange-button{
  --background:#000;
  --color:rgb(236, 138, 45);
}

.orange-black-button{
  --background-color:rgb(236, 138, 45);
  --color:#000;
  
}
.bold{
  font-weight: bold;
}

.font-small{
  font-size: small;
}
.padding{
 
}
