<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Medicine > Items</ion-title>
    <ion-buttons slot="start">
        <ion-back-button>

        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="order.CustomerName" placeholder="Name"></ion-input>
  <ion-input [(ngModel)]="order.PhoneNumber" placeholder="PhoneNumber"></ion-input>
  <ion-textarea [(ngModel)]="order.Address" placeholder="Delivery Address">

  </ion-textarea>
  <ion-input [(ngModel)]="order.Landmark" placeholder="Landmark"></ion-input>

  <ion-grid >

    <ion-row *ngFor="let o of order.Items;let i=index">
      <ion-col size="12">
        <ion-label>{{i+1}}) Product</ion-label>
        <ion-input [(ngModel)]="o.name" placeholder="Medicine Name"></ion-input>
      
      </ion-col>
      <ion-col size="6">
        Quantity
        <div>
        <ion-input [(ngModel)]="o.quantity" min="0" max="100"  type="number"  (ionBlur)="validate(o)"></ion-input> 
        </div>
      </ion-col>
      <ion-col size="4">
        Unit
        <ion-input [(ngModel)]="o.Unit"  type="text=" (ionBlur)="validate(o)"></ion-input> 
      </ion-col>
      <ion-col size="2">      
        <ion-button (click)="remove(i)" *ngIf="i>0">
          <ion-icon   slot="icon-only" name="trash" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="add()">Add Item</ion-button>
    </ion-row>
    <ion-row>
      If you have a Doctor's Prescription, Please Upload it either using Camera or file chooser!
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
          <ion-button (click)="AccessCamera()">
            <ion-icon slot="icon-only" name="camera">Camera</ion-icon>
          </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="AccessGallery()">
          <ion-icon slot="icon-only" name="image"> Gallery</ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  <ion-row>
    <img [src]="base64Image" *ngIf="base64Image" />
    <ion-button *ngIf="base64Image" (click)="removeImage()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-row>
    
    <ion-row>
      <ion-button (click)="Order()">Place Order</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
