<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Service Details</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card class="white" *ngIf="item">
        <ion-card-header class="header">
         {{item.Service}}
        </ion-card-header>
        <ion-card-content>
      
          <div>Booking  Details</div>
         Name: {{item.FormDetails.Name}}<br>
         Address: {{item.FormDetails.Address}}<br>
         
         <p> On: {{item.FormDetails.OnDate | date:'dd-MMM-yyyy'}}</p>
         <p> Time: {{item.FormDetails.OnTime}}</p>
      
         <div *ngIf="item.Answers">
           <ol>
            <li *ngFor="let i of item.Answers">
              <p>{{i.Query}}</p>
              <hr>
              <p *ngFor="let a of i.Answer">{{a}}</p>
            </li>
           </ol>
      
         </div>
         
        </ion-card-content>
      </ion-card>
</ion-content>
