<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-text *ngIf="cityselected">Selected City: {{cityselected.Name}}</ion-text>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">



  <div *ngIf="isRepublicDay()||isIndependanceDay()" text-center>

    <img src="./assets/img/india.png" >
    <h2 *ngIf="isRepublicDay()">Happy Republic Day</h2>
    <h2 *ngIf="isIndependanceDay()">Happy Independance Day</h2>
    </div>
    
    <ion-item>
      
        <!-- <ion-label floating>Location <ion-icon name="md-navigate"></ion-icon></ion-label> -->
       
        <ion-select [(ngModel)]="cityselected" placeholder="Please select a City">
           
            <ion-select-option *ngFor="let city of cities" [value]="city">{{city.Name}}</ion-select-option> 
        </ion-select>
    </ion-item>
   
    <ion-grid style="border: 1px solid black; border-radius: 5px;">
      <ion-row >
        <img src="./assets/new.png" style="    top: -9px;
        right: 0px;
        position: relative;
        height: 28px;
        width: 70px;
        ">
         Rekla Bazaar (Only in Hazaribagh.)
      </ion-row>
      <ion-row>
      <ion-col></ion-col>
      <ion-col> <img src="./assets/reklaDelivery.jpg" />
        <ion-button size="small" [routerLink]="['/','category']">Book Now  </ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
   
    </ion-grid>

    <ion-grid *ngFor="let ser of Services;let i =index">
        <ion-row  *ngIf="i%3==0||i==0" >
            <ion-col size="4" class="white">
              <div class="item-1">
                <div>
                    <img [src]="imagePath(Services[i].ImageUrl)"  class="img">
                </div>
                 
                  <span   class="title">{{Services[i].Name}}</span>
                  
              </div>
              <ion-button size="small"  (click)="selectService(Services[i])" [disabled]="!cityselected" >Book Now  </ion-button>

            </ion-col>
            <ion-col *ngIf="Services[i+1]" size="4" class="white">
                <div class="item-1">
                  <div>
                <img [src]="imagePath(Services[i+1].ImageUrl)" class="img">
                </div>
                <span   class="title">{{Services[i+1].Name}}</span>
                </div>
                <ion-button  size="small"  (click)="selectService(Services[i+1])" [disabled]="!cityselected">Book Now  </ion-button>

            </ion-col>
            <ion-col *ngIf="Services[i+2]" size="4" class="white">   
                <div class="item-1">
                  <div>
                      <img [src]="imagePath(Services[i+2].ImageUrl)" class="img">
                  </div>
                   
                  <span  class="title">{{Services[i+2].Name}}</span>
                </div>
              <ion-button size="small"  (click)="selectService(Services[i+2])" [disabled]="!cityselected">Book Now  </ion-button>
                
            </ion-col>
        </ion-row>
    </ion-grid>


  <!-- <ion-row>
    <ion-col>
      <ion-card no-margin margin-bottom class="full-width">
        <ion-card-header>
          <h4 ion-text color="dark">03B WHITE: LAKE GROVE DYNAMITED (NYE)</h4>
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon> 
            <h2 ion-text color="dark">Jon Doe</h2>
          </ion-item>
        </ion-list>
      </ion-card>
      
      <ion-card no-margin margin-bottom>
        <ion-card-content>
          <p>Lorem ipsum...</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-button expand="full" size="large" color="tertiary">Button</ion-button> -->

</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar color="primary">
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment === 'hottest' }" (click)="onTabSelected('hottest')">
        <ion-icon name="flame"></ion-icon>
        <div class="label">Hottest</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'favs' }" (click)="onTabSelected('favs')">
        <ion-icon name="star"></ion-icon>
        <div class="label">Favorites</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment === 'profile' }" (click)="onTabSelected('profile')">
        <ion-icon name="person"></ion-icon>
        <div class="label">Profile</div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->