<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Rekla</ion-title>
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
      <!-- <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="cog"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

<ion-content class="content">


    <div class="logo">
        <img src="../../assets/icon/favicon.png" class="img" />
    </div>
    
 
  <ion-card class="white">

    <ion-card-header class="text-center">
        <ion-card-title class="text-center">
            Register or Login
          </ion-card-title> 
    </ion-card-header>
   
    <ion-card-content>
      <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input type="text" placeholder="Your Name" formControlName="Name"  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"  ></ion-input>
            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                <div *ngIf="f.Name.errors.required">Name is required</div>
              </div>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Mobile Number" formControlName="PhoneNumber" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }" ></ion-input>
            <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.PhoneNumber.errors.required">Phone is required</div>
                <div *ngIf="f.PhoneNumber.errors.pattern">Phone No is Invalid</div>
            </div>
        </ion-item>
      <ion-item>
        <ion-spinner name="dots" *ngIf="s"></ion-spinner>
      </ion-item>
        
        <ion-button class="orange-black-button " color="warning" size="large" expand="full" type="submit">Request OTP</ion-button>
      </form>
    </ion-card-content>
    
  </ion-card>


</ion-content>
